$dark-theme: #262626;
$dark-black: #151515;
$white: #ffffff;
$gray: #757575;
$grayColor: #878C93;
$blueColor: #6153CC;
$redColor: #FF715B;
$blackColor: $dark-black;
$yellowColor: #FFB627;
$lightGray: #9797AA;
$resetColor: #F5F7FB;
$resetColorText: rgba(21, 25, 32, 0.5);
$submitColor: #5F65F6;
